/* COLORS */

$color-accent: #F3C90C;
$color-accent-2: #C29F00;

/* Grayscale */

$color-gray: #362F2F;
$color-gray-light: #7A7A7A;
$color-gray-2: #E6E6E6;
$color-gray-lightest: #F8F8F8;
$color-gray-dark: #202020;
$color-gray-dark-2: #333;
$color-gray-light-2: #7F8C8C;