.footer {
    max-width: 114rem;
    width: 100%;
    margin: 10rem auto 5rem auto;
    text-align: center;
    font-size: 1.3rem;

    &__content {

    }

    &__credits {
        display: flex;
        margin: 5rem 0;
        align-items: center;
        justify-content: center;
    }

    &__heart {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 .5rem;
    }

    &__copyright {
        display: block;
    }
}