/* NAVBAR SECTION */
.navbar {
    /* General box */
    width: 100%;
    height: 7.5rem;
    position: fixed;
    z-index: 5000; //Needed to fix the stacking order
    background-color: #fff;

    /* Container and Flexbox settings */
    &__container {
        max-width: 113.4rem;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 64em) {
            justify-content: center;
        }
    }

    /* Left section */
    &__checkbox {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    &__menu {
        flex: 0 1 45%;

        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 64em) {
            margin-left: 2rem;
        }
    }

    &__hamburger {
        background-color: $color-gray;
        width: 6rem;
        height: 6rem;
        transition: all .2s;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__hamburger-line {
        position: relative;
        transition: transform cubic-bezier(.215,.61,.355,1) .12s;

        &::before,
        &::after {
            content: "";
            position: absolute;
        }
        
        &,
        &::before,
        &::after {
            display: block;
            width: 2.7rem;
            height: 4px;
            border-radius: 2px;
            background-color: white;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
            transition: transform cubic-bezier(.215,.61,.355,1) .12s;
        }
    }

    &__list {
        flex: 1;
        list-style: none;
        margin-left: -10%;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @media only screen and (max-width: 46.25em) {
            display: none;
        }
    }

    &__item {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            display: block;
            background-color: $color-accent;
            height: 1px;
            left: 50%;
            bottom: -3px;
            width: 0;
            transition: all .3s;
        }

        &:hover::after {
            width: 110%;
            left: -5%;
        }
    }
    

    &__link,
    &__link:link,
    &__link:visited {
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-gray;
    }

    /* CHECKBOX HACK FOR MENU */

    /* Animations */

    &__checkbox:checked ~ &__menu &__label {
        .navbar__hamburger {
            background-color: #fff;
            border: 1px solid $color-gray;
        }
    }

    &__checkbox:checked ~ &__menu &__label &__hamburger-line {
        transform: rotate(45deg);
        background-color: $color-gray;
        height: 8px;
    }

    &__checkbox:checked ~ &__menu &__label &__hamburger-line::before,
    &__checkbox:checked ~ &__menu &__label &__hamburger-line::after {
        background-color: $color-gray;
        top: 0;
    }

   &__checkbox:checked ~ &__menu &__label &__hamburger-line::before {
        height: 8px;
        opacity: 0;
    }

    &__checkbox:checked ~ &__menu &__label &__hamburger-line::after {
        height: 8px;
        transform: rotate(-90deg);
    }

    /* DESKTOP MENU TRIGGER */

    &__checkbox:checked ~ &__menu &__list {
            opacity: 1;
            visibility: visible;
            margin-left: 0;
    }

    /* MOBILE MENU TRIGGER */

    @media only screen and (max-width: 46.25em) { //740px as breakpoint because menu starts looking bad there

        &__checkbox:checked ~ &__mobile-dark-overlay,
        &__checkbox:checked ~ &__mobile {
            visibility: visible;
            opacity: 1;
        }
    }

    /* END OF CHECKBOX HACK SECTION */
    

    /* Logo */
    &__logo {
        align-self: flex-start;
        height: 10rem;
        position: relative;
        z-index: 1000;
    }

    /* Right section */

    &__social-icons {
        flex: 0 1 45%;
        display: flex;
        justify-content: flex-end;

        @media only screen and (max-width: 64em) {
            margin-right: 2rem;
            justify-content: center;
        }

        @include respond(phone) {
            justify-content: space-evenly;
        }

        @media only screen and (max-width: 23.43em) {
            .navbar__icon {
                display: none;
            }
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        margin: 0 2%;
        fill: $color-gray;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            transform: scale(1.1) translateY(-.3rem);
        }

        @include respond(phone) {
            margin: 0;
        }

        @media only screen and (max-height: 25em) {
            width: 5vh;
            height: 5vh;
        }
    }

    /* NAVBAR MOBILE STYLING (It will be triggered by the checkbox hack too */

    &__mobile-dark-overlay {
        position: fixed;
        top: 0;
        width: 150vw;
        height: 150vh;
        z-index: 1250; //Superior to the logo, but inferior to the menu itself
        background-color: rgba(0, 0, 0, .75);

        opacity: 0;
        visibility: hidden;
        transition: all .3s;
    }

    &__mobile {
        background-color: #fff;
        position: fixed;
        z-index: 1500;
        top: 5vh;
        left: 10vw;
        width: 80vw;
        height: 90vh;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        opacity: 0;
        visibility: hidden;
        transition: all .3s;
    }

    &__mobile-label {
        position: absolute;
        top: 6%;
        left: 6%;
        cursor: pointer;
    }

    &__mobile-line,
    &__mobile-line::after {
        display: block;
        width: 3.2rem;
        height: 7px;
        background-color: $color-gray;
        border-radius: 2px;
    }

    &__mobile-line {
        transform: rotate(45deg);
    }

    &__mobile-line:after {
        content: "";
        transform: rotate(90deg);
    }

    &__mobile-logo {
        height: 10rem;
    }

    &__mobile-list {
        flex: 1;
        list-style: none;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__mobile-item {
        margin: 1rem 0;
    }

    &__mobile-link,
    &__mobile-link:link,
    &__mobile-link:visited {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 3.5rem;
        color: $color-gray;

        @media only screen and (max-height: 25em) {
            font-size: 5vh;
        }
    }

    &__mobile-social-icons {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar__icon {
            margin: 0 .3rem;
        }

        @media only screen and (max-height: 25em) {
            margin-bottom: 1rem;
            width: 80%;
        }
    }
}