.timeline {
    margin-top: 10rem;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
    @media only screen and (max-width: 27.5em) {
        flex-direction: column;
        align-items: center;
        margin-top: 0;

        &--2 {
            margin-top: -4rem;
        }
    }

    &__title {
        background-color: $color-gray;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        width: 13rem;
        height: 13rem;
        margin-right: 2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        &--gold {
            background-color: $color-accent-2;
            color: $color-gray;
        }
    }

    &__column {
        flex: 0 0 15rem;
        font-weight: 300;
        letter-spacing: 1px;

        @media only screen and (max-width: 27.5em) {
            flex: 0 0 auto;
            margin: 3rem 0;
            width: 80%;
        }
    }

    &__sep {
        margin: 1.5rem 0;
        border-top: 1px solid $color-accent-2;
        border-bottom: none;
    }

    &__years {
        font-size: 1.8rem;
        font-weight: 400;
        color: $color-accent-2;
        margin-bottom: 5px;
    }
}