.blog-single-post {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;

    &__img {
        width: 100%;
        height: 75rem;
        background-image: url(/img/blog-single-photo.jpg);
        background-size: cover;
        background-position: center;

        @include respond(phone) {
            width: 100vw;
            height: 80vw;
        }
    }

    &__title {
        margin-top: 1rem;
        margin-left: .5rem;
    }

    &__infos {
        margin: 2rem auto;
        width: 33rem;
        font-style: italic;
        font-size: 1.2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
        width: 1.2rem;
        height: 1.2rem;
        cursor: pointer;
    }

    &__date,
    &__comments-number,
    &__likes-number {
        margin-left: 1rem;
    }

    &__article {
        @include respond(phone) {
            margin: 0 1.5rem;
        }
    }

    &__article-paragraph {
        font-size: 1.4rem;
        line-height: 1.7;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__share {
        margin-top: 2.5rem;
        padding: 3rem 4rem;
        background-color: $color-gray-lightest;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .blog-single-post__icon {
            margin-right: 2rem;
        }
    }

    &__share-socials {
        flex: 0 0 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__share-btn {
        text-transform: uppercase;
        text-decoration: none;
        color: $color-gray;
        font-size: 1.2rem;
        margin-right: 2rem;
    }

    &__comments {
        margin: 8rem 0;
    }

    &__comment-form {
        display: flex;
        flex-wrap: wrap;
        input {
            border: 1px solid $color-gray;
            font-family: inherit;
            font-size: 1.2rem;
            padding-left: 1.5rem;
        }

        textarea {
            resize: none;
            margin-top: 2.5rem;
            width: 60%;
            height: 18rem;
            padding-top: 1.5rem;
            padding-left: 1.5rem;
            font-family: inherit;
            font-size: 1.2rem;
            color: $color-gray-light;
        }

        a,
        a:link,
        a:visited {
            margin-left: 5rem;
            align-self: flex-end;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            background-color: $color-gray;
            padding: 1rem 6.5rem;
            transition: background-color .2s;

            &:hover {
                background-color: lighten($color-gray, $amount: 5);
            }
            
            @media only screen and (max-width: 36.25em) {
                align-self: auto;
                margin-left: 0;
                margin-top: 4rem;
            }
        }

        @media only screen and (max-width: 36.25em) {
            flex-direction: column;
            align-items: center;

            textarea {
                width: 31.5rem
            }
        }
    }

    &__form-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        @media only screen and (min-width: 36.25em) {
            &:not(:first-child) {
                margin-top: none;
                margin-left: 6rem;
            }
        }
        input {
            width: 31.5rem;
            height: 3.7rem;
            &:not(:first-child) {
                margin-top: 2.5rem;
            }
        }
    }

    &__comment-disclaimer {
        margin-top: 4rem;
        font-size: 1.2rem;
        max-width: 90%;
    }

    /* START OF BOTTOM SECTION */

    &__bottom {
        margin-top: 15rem;
    }
}